<table class="table table-bordered table-light">
    <thead class="table-active">
      <tr>
        <th colspan="2" scope="colgroup">Coronavirus summary in {{name}}</th>
      </tr>
    </thead>
    <tbody>    
      <tr class="table-warning">
        <td>Total Cases</td>
        <td>{{covidCountrySpecific.totalCases}}</td>
      </tr>
      <tr class="table-warning">
        <td>New Cases</td>
        <td>{{covidCountrySpecific.newCases}}</td>
      </tr>
      <tr class="table-warning">
        <td>Active Cases</td>
        <td>{{covidCountrySpecific.activeCases}}</td>
      </tr>
      <tr class="table-primary">
        <td>Total Recovered</td>
        <td>{{covidCountrySpecific.totalRecovered}}</td>
      </tr>
      <tr class="table-primary">
        <td>New Recovered</td>
        <td>{{covidCountrySpecific.newRecovered}}</td>
      </tr>
      <tr class="table-primary">
        <td>Recovery Rate</td>
        <td>{{covidCountrySpecific.recoveryRate}} % </td>
      </tr>
      <tr class="table-danger">
        <td>Total Deaths</td>
        <td>{{covidCountrySpecific.totalDeaths}}</td>
      </tr>
      <tr class="table-danger">
        <td>New Deaths</td>
        <td>{{covidCountrySpecific.newDeaths}}</td>
      </tr>
      <tr class="table-danger">
        <td>Mortality Rate</td>
        <td>{{covidCountrySpecific.mortalityRate}} % </td>
      </tr>
      
    </tbody>
  </table>
