<table class="table table-bordered table-light">
    <thead class="table-active">
      <tr>
        <th colspan="2" scope="colgroup">Coronavirus summary Worlwide</th>
      </tr>
    </thead>
    <tbody>    
      <tr class="table-warning">
        <td>Total Cases</td>
        <td>{{covidSummary.totalCases}}</td>
      </tr>
      <tr class="table-warning">
        <td>New Cases</td>
        <td>{{covidSummary.newCases}}</td>
      </tr>
      <tr class="table-warning">
        <td>Active Cases</td>
        <td>{{covidSummary.activeCases}}</td>
      </tr>
      <tr class="table-primary">
        <td>Total Recovered</td>
        <td>{{covidSummary.totalRecovered}}</td>
      </tr>
      <tr class="table-primary">
        <td>New Recovered</td>
        <td>{{covidSummary.newRecovered}}</td>
      </tr>
      <tr class="table-primary">
        <td>Recovery Rate</td>
        <td>{{covidSummary.recoveryRate}} % </td>
      </tr>
      <tr class="table-danger">
        <td>Total Deaths</td>
        <td>{{covidSummary.totalDeaths}}</td>
      </tr>
      <tr class="table-danger">
        <td>New Deaths</td>
        <td>{{covidSummary.newDeaths}}</td>
      </tr>
      <tr class="table-danger">
        <td>Mortality Rate</td>
        <td>{{covidSummary.mortalityRate}} % </td>
      </tr>
      
    </tbody>
  </table>